<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>August 1</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Unix Shell</a></td></tr>
      <tr><td>August 2</td><td><a href="https://datacarpentry.org/shell-genomics/">Unix Shell, continued</a></td></tr>
      <tr><td>August 3</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling</a></td></tr>
      <tr><td>August 4</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling, Continued</a></td></tr>
      <tr><td>August 8</td><td><a href="https://datacarpentry.org/genomics-r-intro/">Intro to R and dplyr</a></td></tr>
      <tr><td>August 9</td><td><a href="https://datacarpentry.org/genomics-r-intro/">R visualization and Rmd</a></td></tr>
      <tr><td>End</td><td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
    </table>
</div>
</div>
